<a href="https://colab.research.google.com/github/DevTedd/Practice/blob/main/Practice_with_insurance_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/finalapi.csv')
df.head()

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,RETENTION_POLY_QTY,POLY_INFORCE_QTY,PREV_POLY_INFORCE_QTY,NB_WRTN_PREM_AMT,...,PL_BOUND_CT_ELINKS,PL_QUO_CT_ELINKS,PL_BOUND_CT_PLRANK,PL_QUO_CT_PLRANK,PL_BOUND_CT_eQTte,PL_QUO_CT_eQTte,PL_BOUND_CT_APPLIED,PL_QUO_CT_APPLIED,PL_BOUND_CT_TRANSACTNOW,PL_QUO_CT_TRANSACTNOW
0,3,3,BOILERMACH,CL,IN,2005,0,0,0,40.0,...,0.0,0.0,0.0,103.0,50.0,288.0,0.0,0.0,0.0,0.0
1,3,3,BOILERMACH,CL,IN,2006,0,0,0,151.0,...,0.0,0.0,0.0,103.0,50.0,288.0,0.0,0.0,0.0,0.0
2,3,3,BOILERMACH,CL,IN,2007,0,0,0,40.0,...,0.0,0.0,0.0,103.0,50.0,288.0,0.0,0.0,0.0,0.0
3,3,3,BOILERMACH,CL,IN,2008,0,0,0,69.0,...,0.0,0.0,0.0,103.0,50.0,288.0,0.0,0.0,0.0,0.0
4,3,3,BOILERMACH,CL,IN,2009,0,0,0,28.0,...,0.0,0.0,0.0,103.0,50.0,288.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(14044, 49)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14044 entries, 0 to 14043
Data columns (total 49 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   AGENCY_ID                  14044 non-null  int64
 1   PRIMARY_AGENCY_ID          14044 non-null  int64
 2   PROD_ABBR                  14044 non-null  object
 3   PROD_LINE                  14044 non-null  object
 4   STATE_ABBR                 14044 non-null  object
 5   STAT_PROFILE_DATE_YEAR     14044 non-null  int64
 6   RETENTION_POLY_QTY         14044 non-null  int64
 7   POLY_INFORCE_QTY           14044 non-null  int64
 8   PREV_POLY_INFORCE_QTY      14044 non-null  int64
 9   NB_WRTN_PREM_AMT           14044 non-null  float64
 10  WRTN_PREM_AMT              14044 non-null  float64
 11  PREV_WRTN_PREM_AMT         14044 non-null  float64
 12  PRD_ERND_PREM_AMT          14044 non-null  float64
 13  PRD_INCRD_LOSSES_AMT       14044 non-null  float64
 14  MONTHS                     14044 non-null  int64
 15  RETENTION_RATIO            14044 non-null  float64
 16  LOSS_RATIO                 14044 non-null  float64
 17  LOSS_RATIO_3YR             14044 non-null  float64
 18  GROWTH_RATE_3YR            14044 non-null  float64
 19  AGENCY_APPOINTMENT_YEAR    14043 non-null  float64
 20  ACTIVE_PRODUCERS           14043 non-null  float64
 21  MAX_AGE                    14043 non-null  float64
 22  MIN_AGE                    14043 non-null  float64
 23  VENDOR_IND                 14043 non-null  object
 24  VENDOR                     14043 non-null  object
 25  PL_START_YEAR              14043 non-null  float64
 26  PL_END_YEAR                14043 non-null  float64
 27  COMMISIONS_START_YEAR      14043 non-null  float64
 28  COMMISIONS_END_YEAR        14043 non-null  float64
 29  CL_START_YEAR              14043 non-null  float64
 30  CL_END_YEAR                14043 non-null  float64
 31  ACTIVITY_NOTES_START_YEAR  14043 non-null  float64
 32  ACTIVITY_NOTES_END_YEAR    14043 non-null  float64
 33  CL_BOUND_CT_MDS            14043 non-null  float64
 34  CL_QUO_CT_MDS              14043 non-null  float64
 35  CL_BOUND_CT_SBZ            14043 non-null  float64
 36  CL_QUO_CT_SBZ              14043 non-null  float64
 37  CL_BOUND_CT_eQT            14043 non-null  float64
 38  CL_QUO_CT_eQT              14043 non-null  float64
 39  PL_BOUND_CT_ELINKS         14043 non-null  float64
 40  PL_QUO_CT_ELINKS           14043 non-null  float64
 41  PL_BOUND_CT_PLRANK         14043 non-null  float64
 42  PL_QUO_CT_PLRANK           14043 non-null  float64
 43  PL_BOUND_CT_eQTte          14043 non-null  float64
 44  PL_QUO_CT_eQTte            14043 non-null  float64
 45  PL_BOUND_CT_APPLIED        14043 non-null  float64
 46  PL_QUO_CT_APPLIED          14043 non-null  float64
 47  PL_BOUND_CT_TRANSACTNOW    14043 non-null  float64
 48  PL_QUO_CT_TRANSACTNOW      14043 non-null  float64
dtypes: float64(37), int64(7), object(5)
memory usage: 5.3+ MB